@page
@using SailClubLibrary.Models
@model RazorBoatApp2026InClass.Pages.Bookings.IndexModel
@{
    ViewData["Title"] = "List bookings";
}

<h1>List of bookings</h1>




<table class="table">
    <thead>
        <tr>
            <form method="get">
            <th>Id</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th>Destination</th>
            <th>Member PhoneNumber</th>
            <th>Boat SailNumber</th>
            </form>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking item in Model.Bookings)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.StartDate</td>
                <td>@item.EndDate</td>
                <td>@item.Destination</td>
                <td>@item.TheMember.PhoneNumber</td>
                <td>@item.TheBoat.SailNumber</td>
            </tr>
        }
    </tbody>
</table>